/node_modules
/public/support_files
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/phpmyadmin
/public/docs
/public/images
/public/vendor
vendor/
!resources/views/vendor
laravel-echo-server.json
awstats-icon
awstatsicons
desktop.ini
.fix-permissions.sh
public/ShibLogViewer2/
/resources/lang