/node_modules
/public/support_files
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
vendor
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/phpmyadmin
/public/support_files
/public/docs
/public/images
laravel-echo-server.json
awstats-icon
awstatsicons
desktop.ini
.fix-permissions.sh
public/ShibLogViewer2/
/resources/lang