
.circle {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-right: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-left: 5px solid rgba(0,0,0,0);
  border-right: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
  }

  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }

  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
  }

  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* Prevent click-through */
  background-color: rgba(255, 255, 255, 0.001); }

.pluginOverlay {
  pointer-events: none; }

.pluginOverlay.hidden {
  height: 100%;
  top: -200%; }

.pluginOverlay object {
  pointer-events: auto; }

[ng-cloak], [data-ng-cloak] {
  display: none !important; }

/* Fonts */


p, h1, h2, h3, div, label, input[type=text], input[type=password], input[type=url], select, button, .call ul.tabs button, .call button.footerButton {
  color: #535353;
  font-family: "Avenir-LT-W01-45-Book", "Arial", sans-serif;
  font-weight: normal; }

.login .upgrade p {
  font-size: 19px; }

.call .sidebar h2, .call .sidebar .header, .call button.footerButton {
  font-size: 14px; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 17px; }

select {
  font-size: 12px; }

label.small, span.small, p.small {
  font-size: 13px; }

.legal, a.logs {
  font-size: 11px; }

input[type=text].medium, input[type=password].medium, input[type=url].medium, label.large {
  font-size: 15px; }

input[type=text].large, input[type=password].large, input[type=url].large, label.large {
  font-size: 17px; }

button, .button {
  /* font-size: 23px; */

}

button.close {
  width: 10px;
  height: 10px;
  background-image: url(../images/x.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  min-width: 0;
  border-radius: 0;
  box-shadow: none; }

.panel.noscript {
  border: none; }

.login .upgrade .button {
  font-size: 20px; }

select.large {
  font-size: 15px; }

.legal h2 {
  font-size: 20px;
  font-weight: bold; }

.legal h3 {
  font-size: 17px;
  font-weight: bold; }

.login .loading {
  font-size: 25px; }

/* Elements */
html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #7EACDF;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.panel {
  width: 685px;
  margin: 20px auto;
  padding: 5px;
  background-color: #f7f7f7;
  border-radius: 4px 3px 6px/2px 4px;
  border: 2px solid #e3e2e2;
  text-align: center; }

hr {
  border: none;
  border-top: 1px solid #e1e1e1;
  margin: 15px auto; }

input[type=text], input[type=password], input[type=url], select {
  padding: 6px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  min-width: 200px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=password]::-ms-reveal {
  display: none; }

input:-moz-ui-invalid {
  box-shadow: none; }

input[type=text].medium, input[type=password].medium, input[type=url].medium {
  padding: 10px 10px;
  width: 300px; }

input[type=text].large, input[type=password].large, input[type=url].large {
  border: 1px solid #9F9F9F;
  padding: 18px 20px;
  width: 300px; }

input[type=checkbox].icon, input[type=radio].icon {
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: -32px;
  /* IE doesn't register clicks on non-text areas of labels
	   so we have to make sure the actual check box has non-zero
	   opacity and is in front. */
  z-index: 1;
  filter: alpha(opacity=1);
  opacity: 0.001; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 25px;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden; }

select::-ms-expand {
  display: none; }

.joinbutton {
  display: inline-block;
  text-decoration: none;
  color: white; }

.joinbutton {
  color: white;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #78b72d;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  background-color: #a0d269;
  background: -webkit-linear-gradient(top, #b8e983, #8cc64d);
  background: linear-gradient(180deg, #b8e983, #8cc64d); }






button:disabled, input[type=checkbox].icon:disabled, input[type=checkbox].icon:disabled + label, input[type=radio].icon:disabled, input[type=radio].icon:disabled + label {
  cursor: default; }

button:disabled, input[type=checkbox].icon:disabled + label, input[type=radio].icon:disabled + label {
  opacity: 0.5; }

button:active:not(:disabled), a.button:active {
  box-shadow: none;
  background-color: #a0d269;
  background: -webkit-linear-gradient(top, #8cc64d, #b8e983);
  background: linear-gradient(180deg, #8cc64d, #b8e983); }

/* Button reset */
button.icon, .call button.footerButton, .call ul.tabs button, .call ul.listing button {
  background: none;
  border: none;
  padding: 0;
  min-width: 0;
  border-radius: 0;
  box-shadow: none; }

button.icon, button:hover.icon, button:active.icon {
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-background-origin: content-box;
  background-origin: content-box; }

input[type=checkbox].icon, input[type=radio].icon {
  cursor: pointer; }

input[type=checkbox].icon + label, input[type=radio].icon + label {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

input[type=checkbox].icon:focus + label, input[type=radio].icon:focus + label {
  outline: 1px dotted gray; }

progress {
  height: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
  width: 350px; }

progress::-webkit-progress-bar {
  height: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
  width: 350px; }

progress::-ms-fill {
  background-color: #d9d9d9;
  border-radius: 13px;
  border: none; }

progress::-moz-progress-bar {
  background-color: #d9d9d9;
  border-radius: 13px;
  border: none; }

progress::-webkit-progress-value {
  background-color: #d9d9d9;
  border-radius: 13px;
  border: none; }

progress:indeterminate::-moz-progress-bar {
  background-color: transparent; }

.panel h3 {
  margin: 15px 0; }

.fields > div {
  margin: 10px 0; }

.field.vertical label, .fields.vertical label {
  display: block; }

/* Shared components */
.eula .logo, .login .logo, .noroom .logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.login .notification, .install .notification {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #fff9e5;
  border-bottom: 1px solid #d9d4c3; }

a.logs {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  text-transform: lowercase;
  display: inline-block;
  border-bottom-left-radius: 3px; }

/* EULA */
.eula .legal {
  max-height: 300px;
  overflow: auto;
  margin: 10px 0;
  padding: 0 10px; }

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto; }

.dialog {
  width: auto;
  max-width: 500px;
  padding: 1px 10px;
  margin: 300px auto 200px;
  background-color: #f9f9f9;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }

.dialog > p {
  text-align: center; }

.dialog .section {
  margin: 10px;
  padding: 0 10px;
  background-color: white;
  border: 2px solid #e3e2e2;
  border-radius: 10px; }

.dialog .section h2 {
  text-transform: uppercase;
  margin-left: 0; }

.dialog .section h2:after {
  content: ':'; }

.dialog .section > * {
  margin-left: 30px; }

.dialog .radios .radio {
  margin-top: 5px; }

.dialog .field.vertical, .dialog .fields.vertical {
  width: 300px;
  margin: 0 auto; }

.dialog hr {
  max-width: none;
  margin: 20px 30px; }

.dialog label.disabled {
  opacity: 0.5; }

.dialog.alert {
  padding: 10px; }

/* Log panel */
.dialog.log {
  padding: 10px;
  margin-top: 50px; }

.dialog.log button.close {
  float: right; }

.dialog.log textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  height: 300px;
  border: 1px solid #bbb;
  padding: 5px;
  overflow: auto;
  text-align: left;
  font-family: monospace;
  resize: none;
  white-space: nowrap; }

/* Plugin overlay */
.pluginOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pluginOverlay object {
  width: 100%;
  height: 100%; }

.pluginOverlay.smallView .pluginWrapper {
  max-width: 1380px;
  margin: 0 auto; }

.pluginOverlay.smallView #pluginHolder {
  margin-top: 83px;
  margin-left: 371px;
  width: 638px;
  height: 478px; }

.pluginOverlay.largeView .pluginWrapper, .pluginOverlay.largeWithPanelView .pluginWrapper, .pluginOverlay.fullscreenView .pluginWrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pluginOverlay.largeView #pluginHolder, .pluginOverlay.largeWithPanelView #pluginHolder, .pluginOverlay.fullscreenView #pluginHolder {
  min-width: 460px; }

.pluginOverlay.largeView .pluginWrapper {
  padding-left: 107px; }

.pluginOverlay.largeWithPanelView .pluginWrapper {
  padding-left: 341px; }

.pluginOverlay.largeView .pluginWrapper, .pluginOverlay.largeWithPanelView .pluginWrapper {
  padding-top: 32px; }

.pluginOverlay.largeView .pluginWrapper, .pluginOverlay.largeWithPanelView .pluginWrapper, .pluginOverlay.fullscreenView .pluginWrapper {
  padding-bottom: 32px; }

.pluginOverlay.largeView #pluginHolder, .pluginOverlay.largeWithPanelView #pluginHolder, .pluginOverlay.fullscreenView #pluginHolder {
  width: 100%;
  height: 100%; }

/* Images */
select {

  background-image: url(../images/arrow.png); }

@media (min-resolution: 2dppx) {
  select {
    background-image: url(../images/arrow_down@2x.png);
    background-size: 25px; } }

@media (-webkit-min-device-pixel-ratio: 2) {
  select {
    background-image: url(../images/arrow_down@2x.png);
    background-size: 25px; } }

/* Preloading */
body:after {
  display: none;
}

/*
@mixin object-fit{
	# 2. If supporting object-fit, overriding
	@supports (object-fit: cover;) {
		video {
			top: 0; left: 0;
			width: 100%; height: 100%;
			object-fit: cover;
		}
	};
}
*/
#whole{
  visibility: hidden;
}
.mypanel {
  font-size: 17px;
  width: 60%;
  margin: 20px auto;
  margin-top: 150px;
  padding: 20px;
}
.vySlider {
  display: inline-block;
  position: relative;
  width: 150px;
  margin: 10px 0; }

.vySlider .vySliderTrack {
  display: block;
  width: 100%;
  margin: 5px 0;
  height: 6px;
  background: #888;
  border: none;
  border-radius: 2px; }

.vySlider .vySliderThumb {
  position: absolute;
  display: block;
  height: 14px;
  width: 5px;
  margin-left: -2px;
  background: white;
  border: 1px solid #888;
  border-radius: 3px; }

.vySlider .vySliderFill {
  display: block;
  position: absolute;
  margin: 5px 0;
  height: 6px;
  background: #8cc64d;
  border: none;
  border-radius: 2px; }

.vySlider.small {
  width: 75px; }

.vySlider.small .vySliderThumb {
  width: 5px;
  margin-left: -2px;
  height: 13px;
  border: none;
  border-radius: 2px; }

.vySlider.small .vySliderTrack, .vySlider.small .vySliderFill {
  height: 5px;
  margin: 4px 0; }

.login {
  /*
input.icon.camera + label {
	background-image: url(../images/btn_camera_on.png);
}

input.checked.icon.camera + label {
	background-image: url(../images/btn_camera_privacy.png);
}

input.icon.microphone + label {
	background-image: url(../images/btn_mic_on.png);
}

input.checked.icon.microphone + label {
	background-image: url(../images/btn_mic_mute.png);
}

input.icon.speakers + label {
	background-image: url(../images/btn_speaker_on.png);
}

input.checked.icon.speakers + label {
	background-image: url(../images/btn_speaker_mute.png);
}
*/ }
  .login .notification button {
    margin-left: 10px;
    background-image: url(../images/x.png); }
  .login .dialog.proxy {
    margin-top: 200px; }
  .login .dialog.proxy .section > div {
    margin-bottom: 20px; }
  .login input.pin {
    text-align: center; }
  .login .upgrade {
    max-width: 689px;
    /* panel + border */
    position: relative;
    /* on top of panel */
    padding: 5px;
    height: 33px;
    text-align: left;
    background-color: #6bc73f;
    /* bottom: panel margin + 2px (border) */
    margin: 0 auto -2px; }
  .login .upgrade p {
    color: white;
    margin: 5px 0 0 15px; }
  .login .upgrade .button {
    float: right;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    min-width: 140px;
    padding: 5px 15px 0;
    color: #535353;
    border: 1px solid #b2b2b2;
    background-color: #e8e8e8;
    background: -webkit-linear-gradient(top, #F8F8F8, #D8D8D8);
    background: linear-gradient(180deg, #F8F8F8, #D8D8D8); }
  .login .upgrade .button:active {
    background-color: #b2b2b2;
    background: -webkit-linear-gradient(top, #D8D8D8, #F8F8F8);
    background: linear-gradient(180deg, #D8D8D8, #F8F8F8); }
  .login .loginForm {
    padding-bottom: 20px; }
  .login .fields .field.join {
    margin-top: 20px; }
  .login .panel.settings hr {
    /* extend over the padding of the panel */
    margin-left: -5px;
    margin-right: -5px; }
  .login .panel.nickname {
    margin-top: 0; }
  .login .field.labeled {
    margin: 10px auto;
    width: 300px;
    text-align: left;
    text-overflow: ellipsis; }
  .login .field.labeled > label {
    float: left;
    width: 140px;
    padding-top: 8px;
    margin-left: -150px;
    text-align: right; }
  .login .field select {
    height: 38px;
    /* If we don�t set an explicit width, Firefox will grow the
	   select to fit its contents. */
    width: 110%;
    background-position: center right 25px;
    border: none;
    padding-right: 55px; }
  .login .field .selectContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    margin-bottom: 20px; }
  .login .field select:focus {
    outline: none; }
  .login .field select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #535353; }
  .login .loading {
    margin: 300px auto 0;
    padding: 30px;
    width: 400px;
    text-align: center; }
  .login .loading img {
    vertical-align: middle;
    margin-right: 30px; }

.install {
  min-width: 1040px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.install .header {
  width: 100%;
  min-height: 58px;
  position: relative; }
.install .vidyoHeader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/header_logo.png);
  background-size: 106px 38px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 10px 10px; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .install .vidyoHeader {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/header_logo@2x.png); } }
  @media (min-resolution: 2dppx) {
    .install .vidyoHeader {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/header_logo@2x.png); } }
.install .allowPlugins {
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #F98F8F;
  color: #F93A3A;
  font-size: 18px;
  background-image: url(../images/ic_up_arrow.png);
  background-size: 29px 38px;
  background-repeat: no-repeat;
  background-position: 500px 9px; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .install .allowPlugins {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/ic_up_arrow@2x.png); } }
  @media (min-resolution: 2dppx) {
    .install .allowPlugins {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/ic_up_arrow@2x.png); } }
  .install .allowPlugins span {
    position: relative;
    height: 100%;
    display: inline-block;
    line-height: 58px;
    padding-left: 60px; }
  .install .allowPlugins img {
    margin-left: 3px;
    margin-right: 3px; }
.install .close {
  background-image: url(../images/ic_close.png);
  background-size: 9px 9px;
  margin-left: 75px;
  vertical-align: top;
  margin-top: 10px; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .install .close {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/ic_close@2x.png); } }
  @media (min-resolution: 2dppx) {
    .install .close {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/ic_close@2x.png); } }
.install .close:active {
  background-image: url(../images/ic_close.png);
  background-size: 9px 9px;
  margin-left: 75px;
  vertical-align: top;
  margin-top: 10px; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .install .close:active {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/ic_close@2x.png); } }
  @media (min-resolution: 2dppx) {
    .install .close:active {
      /* SASS� string interpolation fails if the @ symbol follows
		   the #{}, so put it in a variable instead. */
      background-image: url(../images/ic_close@2x.png); } }
.install .primary {
  background-color: #7eacdf;
  border-bottom: 1px solid #cecece;
  padding: 40px 0;
  text-align: center; }
  .install .primary .cta {
    width: 750px;
    text-align: center;
    margin: 90px auto 0; }
  .install .primary .chromeExtensionButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
    padding: 25px;
    margin-top: 25px; }
  .install .primary a {
    color: white;
    font-family: 'Avenir-LT-W01-95-Black', sans-serif; }
  .install .primary h1 {
    margin: 0;
    line-height: normal;
    font-family: 'Avenir-LT-W01-35-Light', sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: white;
    margin-top: 60px; }
    .install .primary h1 img {
      vertical-align: -20px; }
  .install .primary p {
    font-family: 'Avenir-LT-W01-45-Book', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: white;
    margin-top: 50px; }
  .install .primary button {
    height: 70px;
    min-width: 310px;
    padding: 0 10px;
    border: 1px solid #86c340;
    font-family: 'Avenir-LT-W01-35-Light', sans-serif;
    font-size: 18px;
    color: white;
    background: #98C93C;
    cursor: pointer; }
  .install .primary .installButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 13px;
    height: 30px;
    min-width: 0px; }
  .install .primary .installLabel {
    margin-top: 20px;
    display: block;
    font-size: 15px; }
.install .primary.notSupported {
  padding: 140px 0;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }
.install ol.instructions {
  list-style: none;
  margin-top: 70px;
  padding: 0;
  text-align: center; }
.install ol.instructions li {
  display: inline-table;
  text-align: left;
  margin: 0 30px;
  width: 280px;
  font-size: 16px;
  min-height: 307px; }
  .install ol.instructions li h2 {
    color: #707070;
    margin-top: 40px;
    font-family: 'Avenir-LT-W01-95-Black', sans-serif; }
  .install ol.instructions li p {
    color: #AAAAAA;
    font-size: 15px; }
.install .instructions.notSupported {
  margin: 50px 400px;
  text-align: center;
  font-size: 20px;
  -webkit-font-smoothing: antialiased; }
  .install .instructions.notSupported a {
    color: #535353;
    font-family: 'Avenir-LT-W01-95-Black', sans-serif; }
.install .footer {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin: auto;
  bottom: 0px;
  position: relative; }
  .install .footer .contact {
    width: 900px;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Avenir-LT-W01-35-Light', sans-serif;
    color: #707070; }
    .install .footer .contact a {
      font-family: 'Avenir-LT-W01-65-Medium', sans-serif; }
  .install .footer .copy {
    margin: 20px auto;
    color: #AAAAAA;
    font-size: 12px; }

.call .vySlider {
  /* hack to prevent pluginOverlay from capturing mouse
	   clicks in IE */
  position: relative;
  z-index: 1; }
.call.smallView {
  min-width: 1020px; }
.call.largeView, .call.fullscreenView {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 800px; }
.call.largeView.noPanel {
  min-width: 550px; }
.call .callHeader {
  height: 52px;
  background-color: black;
  color: white;
  text-align: center; }
.call .callHeader .icon {
  margin: 5px 5px 0 5px;
  vertical-align: top;
  /* To make tooltips work in large view */
  position: relative;
  z-index: 1; }
.call.smallView .callHeader .connectivity {
  margin-left: 365px;
  width: 640px; }
.call.largeView .callHeader {
  height: 32px;
  margin-left: 341px; }
.call.largeView.noPanel .callHeader {
  margin-left: 107px; }
.call.fullscreenView .callHeader {
  display: none; }
.call .callHeader .logo {
  display: none; }
.call.smallView .callHeader .logo {
  display: inherit;
  position: absolute;
  left: 60px;
  top: 8px; }
.call .connectivity {
  display: block; }
  .call .connectivity .conferenceTitle {
    display: inline-block;
    margin-top: 7px; }
.call.smallView .headerWrapper {
  display: block; }
.call.smallView .wrapper, .call.smallView .headerWrapper {
  max-width: 1360px;
  margin: 0 auto; }
.call.smallView .wrapper {
  margin-top: 30px;
  padding: 0 10px; }
.call.largeView .wrapper, .call.fullscreenView .wrapper {
  height: 100%; }
.call.largeView .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
.call .nav {
  height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  position: fixed;
  z-index: -1; }
.call .sidebar {
  position: relative;
  /* for absolute qualityInidcator */
  float: left;
  border-width: 1px;
  border-color: #c5c5c5;
  border-right-style: solid;
  font-size: 14px;
  background-color: #f7f7f7; }
.call.smallView .sidebar {
  border-radius: 2px;
  border-style: solid; }
.call ul.tabs {
  position: relative;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 106px; }
.call #tabS {
  height: 512px; }
.call ul.tabs button {
  width: 100%;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 3px;
  border-bottom: 1px solid #c5c5c5;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: 32px 5px;
  cursor: pointer; }
.call ul.tabs .current {
  background-color: white;
  position: relative;
  z-index: 2; }
.call ul.listing {
  margin: 0;
  padding: 0;
  list-style: none; }
.call ul.listing > li {
  margin: 8px 0;
  text-align: left;
  font-size: 14px; }
.call ul.listing.bulletless > li {
  margin-left: 8px; }
.call ul.listing button {
  width: 100%;
  text-align: center;
  color: #c82e2e;
  padding-left: 9px;
  font-size: 14px; }
.call ul.listing button:disabled {
  color: #535353;
  opacity: 0.5; }
.call ul.listing input[type=radio] {
  background: none;
  float: left;
  position: relative;
  height: 16px;
  width: 16px;
  margin: 0;
  padding: 0;
  opacity: 0;
  margin-right: -12px; }
.call ul.listing input[type=radio] + label {
  display: block;
  padding-left: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; }
.call ul.listing input[type=radio].checked + label {
  background-image: url(../images/indicator_share_on.png);
  background-repeat: no-repeat;
  background-position: 0px 5px; }
.call ul.listing input[type=radio]:focus + label {
  outline: 1px dotted gray; }
.call ul.listing .line {
  display: block;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis; }
.call.largeView .sidebar {
  height: 100%; }
.call.fullscreenView .sidebar {
  display: none; }
.call .sidebar > .panel {
  box-shadow: none;
  background: none;
  border: none;
  border-radius: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 234px;
  overflow: auto;
  border-left: 1px solid #c5c5c5;
  margin-left: -1px;
  float: left;
  background-color: white; }
.call.smallView .sidebar > .panel {
  height: 510px; }
.call.largeView .sidebar > .panel, .call.fullscreenView .sidebar > .panel {
  height: 100%;
  overflow: auto; }
.call.smallView .sidebar .shares .section:first-of-type {
  max-height: 208px;
  overflow: auto; }
.call .sidebar h2, .call .sidebar .header {
  text-align: left;
  margin: 10px 5px 10px 10px;
  border-bottom: 1px solid #535353; }
.call .sidebar .section {
  margin: 0 6px 20px 6px; }
.call .sidebar .section p {
  margin-left: 9px; }
.call .sidebar button.footerButton {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #c5c5c5;
  border-bottom: none;
  margin: 0;
  padding: 8px 0; }
.call .sidebar button.close {
  float: right;
  margin-right: 2px; }
.call .sidebar .shares .empty {
  text-align: center;
  margin-bottom: 0; }
.call .sidebar .settings {
  position: relative; }
.call .sidebar .settings .section {
  margin-left: 20px; }
.call .sidebar .about {
  text-align: center;
  position: relative; }
.call .sidebar .about .section {
  position: absolute;
  top: 38px;
  bottom: 0px;
  overflow: auto;
  margin: 0;
  padding: 0 12px; }
.call .sidebar .about .versions {
  font-size: 11px;
  font-weight: bold; }
.call .sidebar select {
  /* If we don�t set an explicit width, Firefox will grow the
	   select to fit its contents. */
  width: 110%;
  background-position: center right 15px;
  padding-right: 45px;
  border: none; }
.call .sidebar .selectContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  background-color: #f7f7f7;
  width: 206px;
  margin-bottom: 20px; }
.call .videoWrapper {
  display: block;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.8); }
.call.smallView .videoWrapper {
  width: 638px;
  margin-left: 360px;
  border-style: solid; }
.call.largeView .videoWrapper, .call.fullscreenView .videoWrapper {
  height: 100%; }
.call.largeView .videoWrapper {
  margin-left: 341px; }
.call.largeView.noPanel .videoWrapper {
  margin-left: 107px; }
.call.smallView .pluginPlaceholder {
  height: 100%; }
.call.smallView .pluginPlaceholder {
  height: 478px; }
.call.largeView .pluginPlaceholder, .call.fullscreenView .pluginPlaceholder {
  height: calc(100% - 32px); }
.call .toolbar {
  position: relative;
  text-align: center;
  height: 32px;
  background-color: #2e2e2e;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.call.fullscreenView .toolbar .timer {
  margin-top: -12px; }
.call .toolbar .middle {
  display: inline-block;
  /* �enter the timer based on a fixed width, enough to
	   fit the icon and 4 digits. The rest overflows. This
	   way the timer�s left edge remains the same when
	   switching between modes. */
  width: 75px;
  overflow: visible;
  white-space: nowrap;
  height: 100%;
  text-align: left;
  /* padding-top: 4px; */ }
.call .toolbar .timer {
  display: inline-block;
  color: white;
  padding-left: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center left;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  height: 100%;
  vertical-align: middle;
  line-height: 32px;
  padding-top: 2px; }
.call .toolbar .indicators {
  margin-left: 10px;
  height: 32px; }
  .call .toolbar .indicators img + img {
    margin-left: 3px; }
  .call .toolbar .indicators img {
    padding-top: 4px; }
.call .toolbar .left, .call .toolbar .right {
  position: absolute;
  display: inline-block;
  line-height: 0; }
.call .toolbar .left {
  display: inline-block;
  left: 5px; }
.call .toolbar .right {
  display: inline-block;
  right: 5px; }
.call .toolbar .volumeGroup {
  display: inline-block;
  line-height: 0; }
.call .toolbar .volumeGroup .vySlider {
  display: none; }
.call .toolbar .volumeGroup .vySliderActive, .call .toolbar .volumeGroup:hover .vySlider {
  display: inline-block;
  margin: 0 10px 10px 0; }
.call .toolbar button.icon, .call .toolbar input.icon + label {
  width: 32px;
  height: 32px; }
.call .toolbar label:active, .call .toolbar button:active, .call .toolbar input.icon:disabled label {
  opacity: 0.5; }
.call .toolbar button.layout {
  margin-right: 4px;
  padding-right: 8px;
  width: 40px;
  border-right: 1px solid #5c5c5c; }
.call .toolbar button.disconnect {
  margin-left: 4px;
  padding-left: 8px;
  width: 40px;
  border-left: 1px solid #5c5c5c; }
.call.smallView .pluginHolder {
  height: 478px;
  width: 638px; }
.call.largeView .pluginHolder, .call.fullscreenView .pluginHolder {
  width: 100%;
  height: 100%; }

